<!--
<div class="panel panel-default" ng-controller="ProjectCtrl">
<button type="file" ngf-select="UploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Projects CSV File</button>
</div>
-->

<div  ng-controller="ProjectCtrl">


<div class="well well-sm">
 {{$root.data.semesters.selectedSemester.name}}
   </div>
  <div class="panel-body">
<!-- Semesters on the left -->








<table id='projectsTable' class="table table-bordered">
    <thead>
      <tr>
      
        <th><a href="" ng-click="SetOrderBy('Student Id')">No</a><span ng-show="orderBy=='Student Id'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
        <th><a href="" ng-click="SetOrderBy('Student First Name')">Title</a><span ng-show="orderBy=='Student First Name'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
       
        <th><a href="" ng-click="SetOrderBy('Student Email Address')">Client</a><span ng-show="orderBy=='Student Email Address'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
        <th><a href="" ng-click="SetOrderBy('Current GPA')">Students</a><span ng-show="orderBy=='Current GPA'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
         <th><a href="" ng-click="SetOrderBy('Program Plan')">Academic Supervisor</a><span ng-show="orderBy=='Program Plan'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
           <th><a href="" ng-click="SetOrderBy('Program Code')">Comments</a><span ng-show="orderBy=='Program Code'" ng-class="reverse? 'glyphicon glyphicon-hand-down':'glyphicon glyphicon-hand-up'"></span></th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
       
      <tr ng-repeat-start="project in $root.data.projects | filter:{semester: $root.data.semesters.selectedSemester.name}|filter:{status: 'Pending'}| orderBy: predicate:reverse ">
       
        <td >{{project.no}}</td>
        <td>{{project.title}}</td>
    
        
        <td><ul>
          <li ng-repeat="client in project.clients"><a href="#" uib-tooltip-html="'{{client.email}} &nbsp; {{client.phone}} &nbsp; {{client.organisation}}'">{{client.fullname}}</a></li>
        </ul></td>
       
         <td><ul><li ng-repeat="student in project.students">
          {{student['Student First Name']}} {{student['Student Family Name']}}[{{student['Program Plan']}}]({{student['Current GPA']}})</li></ul></td>
       
           <td><ul>
          <li ng-repeat="supervisor in project.supervisors">{{supervisor.fullname}}</li>
        </ul></td>
              <td>
            <span uib-tooltip-template="'app/components/project/comments.html'"> {{project.comments==null?'no comments':project.comments.length}}</span>
          </td>

       
            <td>
              <button ng-click="ShowProject(project)">Detail</button>
                        
            
                  <button ng-hide="project.commentMode" ng-click="project.commentMode=true">Add&Delete Comment</button>
            </td>
      </tr>
      <tr ng-show="project.commentMode" ng-repeat-end><td colspan="8">
      	<table class="table table-bordered">
       <tr>
        
          <td><button ng-hide="editStudent._id" ng-click="CreateStudent(editStudent,$root.data.semesters.selectedSemester)">Save</button>
          	<button ng-hide="editStudent._id" ng-click="project.commentMode=false">Cancel</button></td>     
          	<td><input ng-model="editStudent['Student Id']" required/></td>   
      </tr>
      <tr><td>Comments :</td><td>        
          <ul><li ng-repeat="comment in project.comments"><button  ng-click="editProject.comments.splice(editProject.comments.indexOf(comment), 1)">{{comment.madeBy}}:[{{comment.name}}] </button></li></ul>
     
         </td>
           
      </tr>
     
     

  </table>

      </td></tr>
     
     
    </tbody>
  </table>


<!--page counting start-->
<div class="pull-right btn-group">
    <button type="button" ng-class="getPageClass($index+1)" ng-repeat="project in projects" ng-click="selectPage($index+1)">{{$index +1}}</button>
  </div>



<!--page counting end -->






<!---End of the Right Panel-->



</div>
  
</div>
</div>
