<div class="jumbotron" ng-controller="WelcomeCtrl">
  <div class="container">
   <h1>ICT Project Management</h1>

  <p>if you are a potential client, please click the 'Propose A Project' button below to create a project and we will contact you shortly, otherwise, please login to enjoy more fun to manage the projects!</p>
  <p><a class="btn btn-primary btn-lg" href="#/create_project">Propose A Project</a>  <a class="btn btn-primary btn-lg" href="#/login">Log In</a> <a class="btn btn-primary btn-lg" href="#/main">Main</a>
  	</p>
  </div>
</div>